<a href="APEuro/index.html">Tennis Strategy app</a>
<br/>
<a href="TennisStrategy/index.html">AP Euro app</a>
<br/>
<a href="GalaxyBuilder/doc/index.html">GalaxyBuilder documentation</a>
<br/>
<a href="GalaxyBuilder/Final_Keynote_Presentation_without_movie.m4v">RIT Galaxy Builder final presentation</a>
